<div id="carousel" class="carousel slide">
  <%= carousel_indicators(resources) %>
  <%= render partial: "carousel_inner", locals: { resources: resources } %>
  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>
