<section id="<%= resource.class %>_<%= resource.id %>" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <header class="lightbox-header">
    <%= close_button("lightbox") %>
  </header>
  <article class="lightbox-content">
    <%= image_tag resource %>
  </article>
</section>
